/* Fonts & Imports */
@font-face {
font-family: 'Design';
src: url(/assets/fonts/DESIGNER.otf);

}

/* Universal */
*, *::before, *::after {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Design', sans-serif;

}

/* Root */
:root {

}

html {
    scroll-behavior:auto;
}

body {
    width: 100%;
    min-width: 320px;
    height: auto;
    min-height: 100vh;
    background: rgb(17, 17, 47);
    scroll-snap-type: y mandatory;
}
.current {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
section {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 20rem auto;
    padding: 8rem 2rem;
    scroll-snap-align: center;
    transition: all 1s ease;
}
section h4 {
    letter-spacing: .3rem;
}
.sec-one {

}
.sec-one h2 {
    color: gold;
    font-size: 3rem;
    letter-spacing: .3rem;
    margin-bottom: 1rem;
}
.sec-one h4 {
    color: gray;
}
.sec-two {

}
.sec-two h2 {
    color: blue;
    font-size: 3rem;
    letter-spacing: .3rem;
    margin-bottom: 1rem;
}
.sec-two h4 {
    color: gray;
}
.sec-three {

}
.sec-three h2 {
    color: green;
    font-size: 3rem;
    letter-spacing: .3rem;
    margin-bottom: 1rem;
}
.sec-three h4 {
    color: gray;
}
.animate {
    transform: translateX(-100%);
}
.show-animate {
    transform: translateX(0);
}